::-webkit-scrollbar {
  width: 8px;
  height: 5px;

  @apply text-primary;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  width: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1235ba;
  height: 50px;
  width: 50px;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
