::-webkit-scrollbar {
  width: 8px;
  height: 5px;

  @apply text-primary;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  width: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f78e1e;
  height: 50px;
  width: 50px;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.backdrop-element{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0,0.9);
}